/* Global element styles
-------------------------------------------------- */
body {
    margin: 0 0 40px;
    border-top: 3px solid #096838;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

h1 {
    font-size: 56px;
    color: #096838;
    margin-top: 10px;
}

h2 {
    color: #777;
}

textarea {
    resize: vertical;
}

/* General classes
 -------------------------------------------------- */
.align-center {
    text-align: center
}

.btn-margin-bt {
    margin-bottom: 10px;
}
/* Searchbox / Main Search
-------------------------------------------------- */
.mainSearchWrapper {
    background: url(../img/library2.jpg);
    overflow: hidden;
    height: 530px;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
}

.mainSearchWrapper > .heading {
    width: 60%;
    padding-top: 60px;
}

.heading {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.heading > label {
    font-size: 15px;
    color: #d7d7d7;
}

.wrapper .heading h1 {
    font-size: 70px;
}

/* Search box style front page */
#searchTextbox {
    position: relative;
    display: inline;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.35);
    border: 1px solid #384148;
}

#searchBtn {
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
    box-sizing: content-box;
    width: 46px;
    height: 54px;
    color: transparent;
    background: #096838 url(../img/search.png) center/70% no-repeat;
    cursor: pointer;
}

.searchBox {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 85px;
}

/* Footer styles
-------------------------------------------------- */
.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    height: 40px;
    position: absolute;
    background-color: #eeeeee;
}

/* Form Container
-------------------------------------------------- */

.form-container {
    width: 63%;
}

/* Image Gallery
 -------------------------------------------------- */
.thumbnail-img {
    width: 220px;
    max-height: 300px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
/* Overwriting standard Bootstrap
 -------------------------------------------------- */

.btn-primary {
    background-color: #096838;
    border-color: #085830;
}

.btn-primary:hover {
    background-color: #085830;
    border-color: #074828;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #085830;
    border-color: #074828;
}

.navbar-default {
    background-color: #eeeeee;
}

/* Dashboard View
 -------------------------------------------------- */
.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #912F40;
}

.panel-red > .panel-heading {
    border-color: #912F40;
    color: #f8f8f8;
    background-color: #912F40;
}

.panel-red a {
    color: #912F40;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #f8f8f8;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/* Prevent overwriting this stuff
-------------------------------------------------- */
.panel-footer-blue {
    color: #337ab7;
}

.admin-panel-text {
    font-weight: bold;
}

/* Date Picker
 -------------------------------------------------- */

.clsDatePicker {
    position: relative;
    z-index: 9999 !important;
}

/* Responsive design for main page
 -------------------------------------------------- */

@media screen and (max-width: 1700px) {
      .outer.col {
        width: 70% !important;
    }

       .heading {
        width: 70%;
    }

       .searchbox {
        width: 70%;
    }

     
}

@media screen and (max-width: 1450px) {
      .heading {
        width: 80%;
    }

       .searchbox {
        width: 80%;
    }

      .outer.col {
        width: 80% !important;
    }

     
}

@media screen and (max-width: 1350px) {
      .heading {
        width: 85%;
    }

       .searchbox {
        width: 85%;
    }

       .outer.col {
        width: 85% !important;
    }
}

@media screen and (max-width: 1200px) {
      .outer.col {
        width: 90% !important;
    }

      .heading {
         width: 90%;
    }

      .searchbox {
        width: 90%;
    }
}

@media screen and (max-width: 1140px) {
      .searchbox {
        width: 95%;
    }

      .heading {
         width: 95%;
    }
}

@media screen and (max-width: 600px) {
      .mainSearchWrapper {
         height: 350px;
    }

      .heading h1 {
        font-size: 34px;
         margin-top: 70px;
    }

      .searchbox {
        top: 70px;
    }
}

/* Page Styles
 */
.contact > label, .about > label{
    color: #000;
}