/* Global element styles
-------------------------------------------------- */
body {
    margin: 0 0 40px;
    border-top: 3px solid #096838;
    overflow-x: hidden;
}

h1 {
    font-size: 56px;
    color: #096838;
    margin-top: 10px;
}

h2 {
    color: #777;
}

textarea {
    resize: vertical;
}

/* TODO: Sections
-------------------------------------------------- */
.mainSearchWrapper {
    background: url(../img/library2.jpg);
    overflow: hidden;
    height: 530px;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60%;
    padding-top: 60px;
}

.wrapper .heading h1 {
    font-size: 70px;
}

/* Search box style front page */
#searchTextbox {
    position: relative;
    display: inline;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.35);
    border: 1px solid #384148;
}

#searchBtn {
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
    box-sizing: content-box;
    width: 46px;
    height: 54px;
    color: transparent;
    background: #096838 url(../img/search.png) center/70% no-repeat;
    cursor: pointer;
}

.searchBox {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 85px;
}

/* Footer styles
-------------------------------------------------- */
.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    height: 40px;
    position: absolute;
    background-color: #f7f7f7;
}

/* Form Container
-------------------------------------------------- */

.form-container {
    width: 63%;
}

/*
    Overwrites to change standard Bootstrap
 */

.btn-primary {
    background-color: #096838;
    border-color: #085830;
}

.btn-primary:hover {
    background-color: #085830;
    border-color: #074828;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #085830;
    border-color: #074828;
}