

 body 
   {
   
   background-color: white;
   margin-left:350px;
   padding: 50px;
	width: 793.7013px;
	height: 1105.5204px;
	border: 1px solid black;
	
	
   }


html, h1, form, fieldset, button,legend, ol, li {
  margin: 0;
  padding: 0;
}


form {
  margin: 0 auto;
}
h1 {
  margin: 5px auto;
}
h3 {
  margin: 10px auto 20px auto;
}

form{
  color: black;
}
select {
  font-family: Courier, "Courier New", monospace;
}

input,textarea {
  display: block;
  margin: 2px 0 0 0;
  width: 200px;
  font-family: Courier, "Courier New", monospace;
  font-size: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 4px;
  border: solid 1px #c9c9c9;
  transition: border 0.2s;
}

textarea{
  width: 300px;
  height: 80px;
}

input:focus, textarea:focus {
  outline: none;
  border: solid 1px #969696;
}

input[type="checkbox"], input[type="radio"] {
  width: 18px;
  height: 18px;
  padding-top: 1px;
  display: inline-block;
  vertical-align: middle;
}

select {
  display: block;
  width: 200px;
  height: 25px;
  padding: 0 24px 0 8px;
  font-size: 15px;
}
button {
  border-radius: 2px;
  color: white;
  padding: 6px 20px;
  text-align: center;
  font-size: 16px;
  font-family: Courier, "Courier New", monospace;
  opacity:.95;
  border: 0;
}
button:hover {
  opacity:100;
  cursor: pointer;
  }
  a{
    text-decoration: none;
  }

.add_employee{
  padding: 6px 34px;
  background-color: #5aae61;
}
.search_employee{
  background-color: #3288bd;
}
.update_employee{
  background-color: #8073ac;
}
.delete_employee{
  background-color: #d53e4f;
}

input:focus:invalid, textarea:focus:invalid { /* when a field is considered invalid by the browser */
  border-color: #b03535
  }

input:focus:valid, textarea:focus:valid { /* when a field is considered valid by the browser */
  border-color: #28921f;
  }
