<Files /webdev/public_html/protected/view/admin.php>
AuthName "Prompt"
AuthType Basic
AuthUserFile .htpasswd
Require valid-user
</Files>

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes
