/* ******** HEADER ******** */

header
{
	padding-top:30px;
	background: url('../images/ch_nitrogen.jpg') no-repeat;
	height: 220px;
	width:100%;
}


header h1
{
	color:white;
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	margin:auto;
}

.hour
{
	color:white;
	text-align: center;
	margin:auto;
}



/* ******* NAV ******** */


nav
{
	padding-bottom: 3px;
	margin:auto;
}

nav ul
{	
	margin-top:50px;
	list-style-type: none;
	text-align:center;
}

nav li
{
	display: inline-block;
	margin-right: 15px;
}

nav a
{
	font-size: 1.3em;
	color: red;
	padding-bottom: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	text-indent:-5000px;
	margin: auto 10px;
    width:38px;
    height:18px;
    padding:8px;
    padding-top:0px;
    /-moz-border-radius: 50%;
    /-webkit-border-radius: 390px;
}

nav a:hover
{
	color: #F5F5F5;
	border-bottom: 3px solid #F5F5F5;
}


/* ******** FOOTER ******** */


footer
{
    background: url('../graphics/separateur.png') repeat-x top;
    padding-top: 25px;
}

footer p
{
    font-size: 0.8em;
}



/* ass 2 */

body
{
	text-align: center;
}

/* ******** ADMIN ******** */

.tableau 
{
	margin:0px;
	padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.tableau table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

.tableau tr:last-child td:last-child 
{
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.tableau table tr:first-child td:first-child
{
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.tableau table tr:first-child td:last-child 
{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

.tableau tr:last-child td:first-child
{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

.tableau tr:hover td
{
	
}

.tableau tr:nth-child(odd) 
{ 
	background-color:#aad4ff; 
}

.tableau tr:nth-child(even)
{ 
	background-color:#ffffff; 
}

.tableau td
{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.tableau tr:last-child td
{
	border-width:0px 1px 0px 0px;
}

.tableau tr td:last-child
{
	border-width:0px 0px 1px 0px;
}

.tableau tr:last-child td:last-child
{
	border-width:0px 0px 0px 0px;
}

.tableau tr:first-child td
{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.tableau tr:first-child:hover td
{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}

.tableau tr:first-child td:first-child
{
	border-width:0px 0px 1px 0px;
}

.tableau tr:first-child td:last-child
{
	border-width:0px 0px 1px 1px;
}










/* ******** HOME ******** */

.para
{
	width: 60%;
	display: inline-block;
	text-align: center;
	/border:5px solid black;
	margin-left: auto;
	margin-right: auto;	
}

.para p {
    border-radius: 5px;
    position: relative;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.comments
{
	display: inline-block;
	width: 50%;
	border:1px solid black;
	/width:150px;
	height:200px;
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;	
}




/* ******** SLIDER ******** */



.wrapper{
    margin:20px auto;
    width:350px;
    text-align:center;
}
.content{
    position:absolute;
    background: black;
    top:0px;
    left:-10px;
    height:200px;
    width:1200px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    clear:both;
}
.item{
    float:left;
    width:300px;
    height:200px;
    position:relative;
}
#article1, #article2, #article3, #article4{
    overflow:hidden;
    background:black;
    width:300px;
    height:250px;
    margin:0 auto;
    position:relative;
}
#article1:target .content{
    left:-10px;
}
.sliderContainer{
    position:relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:10px solid black;
    height:190px;
    width:280px;
    overflow:hidden;
}
#article2:target .content, #article3:target .content, #article4:target .content{
    -webkit-transform: translate(-300px, 0px);
    -moz-transform: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
}
#article3:target .content{
    -webkit-transform: translate(-600px, 0px);
    -moz-transform: translate(-600px, 0px);
    -o-transform: translate(-600px, 0px);
    -ms-transform: translate(-600px, 0px);
    transform: translate(-600px, 0px);
}
#article4:target .content{
    -webkit-transform: translate(-900px, 0px);
    -moz-transform: translate(-900px, 0px);
    -o-transform: translate(-900px, 0px);
    -ms-transform: translate(-900px, 0px);
    transform: translate(-900px, 0px);
}

#article4 a,#article3 a, #article2 a, #article1 a{
    width:22px;
    height:15px;
    padding:8px 0;
    padding-top:0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
    position:absolute;
    bottom:10px;
    left:55px;
}
#article2 a{
    position:absolute;
    bottom:10px;
    left:105px;
}
#article3 a{
    position:absolute;
    bottom:10px;
    left:155px;
}
#article4 a{
    position:absolute;
    bottom:10px;
    left:205px;
}
#article1:target> a, #article2:target> a, #article3:target> a, #article4:target> a{
    background:white;
    color:black;
}

.item img{
    margin:auto;
    margin-top:22px;
    width:200px;
    height:150px;
}

a.circle {
	background:black;
	border-radius:5px;
	color:white;
}



/* ******** MENU ******** */

.tree
{
	/text-align: left;
}


article, aside
{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

aside
{
	position: relative;
	width: 235px;
	background-color: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}

article img
{
	margin-right: 5px;
}

li 
{ 
	position: relative; 
	list-style: none;
}

li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input + ol > li 
{ 
	display: none; 
	margin-left: -14px;
	padding-left: 1px; 
}

li label
{
	cursor: pointer;
	display: block;
	padding-right: 40px;
}

li input:checked + ol > li 
{ 
	display: block; 
	margin: 0 0 0.125em;  /* 2px */
}

label[class*="menu"]
{
	color:red;
	text-transform: uppercase;
}
