html, body {padding:0; border:0px; margin:0; font-family:arial}
header {width:100%; height:90px; overflow:hidden; position:relative; border-bottom:1px solid #ccc; text-align:center;}
header strong {font-weight:200; font-size:2em; display:block; padding:10px; text-align:center; padding:0; margin:10px;}
header img {position:absolute; left:15px;  top:0; height:100%;}
nav {width:170px; padding:20px 0 0 10px; position:absolute; background:#eee; top:91px; bottom:0; overflow:auto;}
nav a {display:block; margin-bottom:10px;}
main {position:absolute; top:91px; bottom:0; left:180px; right:0; overflow:auto; padding:20px;}
h1 {font-size:2.2em; font-weight:200; padding:0; margin:0;}
h2 {font-size:1.2em; font-weight:200; border-bottom:1px solid #ccc; padding:0 0 20px 0; clear:both;}
dl {line-height:150%; font-size:1em; float:left; width:100%; }
dl dd {float:left; margin:0; width:100px;}
li {line-height:170%;}
form input[type=submit] {display:block; width:200px; height:200px; margin:20px 20px 20px 0; float:left; color:white; font-size:3em; border-radius:10px; border:2px solid #ccc;}
form input.red {background:red;}
form input.blue {background:blue;}
form label {display:block; clear:both;}
form input[type=text] {clear:both; display:block;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}