body {width:800px; text-align:center; margin:0 auto; border-left:auto transparent; border-right:auto; background:black; color:white; position:relative;}
h1 {color:#333; position:absolute; top:85px; left:125px;}
h2 {color:#666; position:absolute; top:480px; left:125px; font-size:18px; font-weight:200;}
p {position:absolute; top:0px; right:80px; font-size:12px; font-family:arial;}
img {margin-top:50px;  border:#ccc solid 80px;  border-radius:5px; display:inline-block;}
ul {position:absolute; top:450px; right:130px; font-size:12px; font-family:arial;}
ul li {float:left; list-style-type:none; padding:0 10px; border-right:1px solid #ccc;}
ul li:last-child {border-right:none;}
table {border-collapse:collapse; border-spacing:0; position:absolute; top:500px; right:125px; width:300px;}
table td {border:1px solid #555;}
table td {font-size:14px; padding:2px; text-align:center;}
table th {background:#777; color:#fbf9ec; font-weight:7cc00; padding:.5em; text-align:center;}
table td {color:#333;}
table tr:hover td {background:#eee;}
a {display:inline-block; font-size:20px; background:blue; width:200px; margin-top:30px; color:white; border-radius:20px; padding:10px;text-decoration:none;}
a:hover {background:white; color:blue; }


